.info-button-container {
    position: relative;
    display: inline-block;

    .info-icon {
        cursor: pointer;
    }

    svg {
        width: 18px;
    }

    .info-content {
        position: absolute;
        left: 25px;
        width: 200px;
        border: 1px solid #ccc;
        background-color: #f9f9f9;
        padding: 10px;
        z-index: 1;
        border-radius: 0px 18px 18px 18px;
    }
}
