.toast {
    position: fixed;
    right: 20px;
    top: 55px;
    color: white;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100000000;
    min-width: 200px;
    max-width: 300px;
}