.list-item-description {
    display: flex;
    align-items: center;
    width: 95%;
}

.list-item-wrapper {
    &:hover {
        background-color: #f5f5f5;
    }
}

.shopping-list-wrapper {
    position: relative;
    z-index: 9999;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.gray-out::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 5;
}

.list-search {
    position: relative;
    z-index: 9 !important;
    margin-top: 20px;
}

@media only screen and (max-width: 768px) {
    .list-search {
        margin-top: -8px;
    }
}

.listed-items {
    margin-top: -2px;
}