.shopping-lists-active-name{
    min-width: 200px;
    text-align: center;
    background: rgb(99 110 125);
    border-radius: 13px;
}

.shopping-lists-options {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 320px;
    transform: translate(-50%, -50%);
    z-index: 100;
    background-color: white;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 13px;

    .shopping-lists-options-select {
        width: 100%;
        border: 1px solid;
        border-radius: 8px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .add-list-form-input{
        margin-top: 5px;
        margin-bottom: 5px;
        width: 100%;
        border: 1px solid;
        border-radius: 8px;
        padding-left: 2px;
    }
}