.light {
    .mobile-dropdown-wrapper {
        background-color: white !important;

        li,
        .language-select-wrapper,
        .theme-select-wrapper {
            background-image: none !important;
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
        }

        a,
        div,
        .mobile-dropdown-button {
            background-color: white !important;
            border: none;
        }
    }
}

.dark {
    .mobile-dropdown-wrapper {
        background-color: var(--background-color-dark) !important;

        li,
        .language-select-wrapper,
        .theme-select-wrapper {
            background-image: none !important;
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
        }

        a,
        div,
        .mobile-dropdown-button {
            background-color: var(--element-background-color-dark) !important;
            border: none;
        }
    }
}