.navbar-fixed-animation {
    transition: box-shadow 0.3s ease-in-out;

    &.shadow {
        box-shadow: 0 8px 23px rgba(0, 0, 0, .16);
    }
}

.navbar-wrapper-main {

    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 9999999;

    nav {
        display: flex;
        justify-content: space-between;

        .main-logo {
            font-family: "Grand Hotel", cursive;
            width: 120px;
            font-size: 33px;
            margin-left: 10px;
        }

        .navbar-elements {
            margin-right: 10px;
            display: flex;
            align-items: center;
        }
    }

}