* {
    box-sizing: border-box;
}

body {
    background-color: #dadada;
    height: 100vh;
    margin: 0;
    transition: background 0.2s linear;
}

body.dark {
    background-color: #393A3E;
}

body.dark .button {
    justify-content: center;
    align-items: center;
    display: flex;
    outline: none;
    border: none;
    cursor: pointer;
    margin: 25px;
    height: 200px;
    width: 200px;
    background-color: #303234;
    font-size: 60px;
    border-radius: 50px;
    box-shadow: -8px -8px 12px 0px rgba(255, 255, 255, 0.05), 12px 12px 16px 0px rgba(0, 0, 0, 0.5);
}

h2 {
    text-align: center;
    font-weight: bold;
    margin-top: 60px;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    color: gray;
}

.switch {
    justify-content: center;
    align-items: center;
    display: flex;
}

.container {
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.label {
    background-color: #a6a6a6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    border-radius: 50px;
    position: relative;
    width: 50px;
    height: 26px;
    border: 1px solid gray;
}

.ball {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    width: 22px;
    height: 22px;
    transition: transform 0.2s linear;
}

.checkbox:checked+.label .ball {
    transform: translateX(24px);
}

.checkbox:checked+.label {
    background-color: #212121;
}

.fa-moon {
    color: #f1c40f;
}

.fa-sun {
    color: #f1c40f;
}

.button {
    justify-content: center;
    align-items: center;
    display: flex;
    outline: none;
    border: none;
    cursor: pointer;
    margin: 25px;
    height: 200px;
    width: 200px;
    background-color: #dadada;
    font-size: 60px;
    border-radius: 50px;
    box-shadow: 12px 12px 16px 0px rgba(0, 0, 0, 0.25), -8px -8px 12px 0px rgba(255, 255, 255, 0.3);
}

.button.f,
.button.t,
.button.i {
    color: gray;
}

.button.f:hover {
    color: #077AE9;
}

.button.t:hover {
    color: #1D9BF0;
}

.button.i:hover {
    background: -webkit-linear-gradient(#405DE6, #5851DB, #833AB4, #C13584, #E1306C, #FD1D1D, #F56040, #F77737, #FCAF45, #FFDC80);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


ul {
    display: flex;
}

li {
    display: flex;
    align-items: center;
}

.switch {
    display: flex;
    align-items: center;
    justify-content: center;
}
