.follower {
    display: flex;
    justify-content: space-between;

    a {
        width: 100%;
    }

    .unfollow {
        display: flex;
        align-items: center;
        background-color: #fff;
        line-height: 1.5rem;
        padding: 10px 20px;
        margin: 0;
        border-bottom: 1px solid #e0e0e0;
        
        &:hover {
            background-color: #ddd;
        }
    }
}

.dark{
    .follower{
        a{
            background-color: var(--background-color-dark);
        }

        i{
            background-color: var(--background-color-dark);
        }
    }
}