$primary-color: #66b556;
$primary-hover: darken($primary-color, 10%);

$secondary-color: #799374;
$secondary-hover: lighten($secondary-color, 10%);

$danger-color: #c92e2f;
$danger-hover: lighten($danger-color, 10%);

.btn {
	padding: 0.375rem 0.75rem;
	border-radius: 0.25rem;
	font-size: 1rem;
	cursor: pointer;
	transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;

	&.primary {
		background-color: $primary-color;
		color: white;

		&:hover {
			background-color: $primary-hover;
		}
	}

	&.secondary {
		background-color: $secondary-color;
		color: white;

		&:hover {
			background-color: $secondary-hover;
		}
	}

	&.danger {
		background-color: $danger-color;
		color: white;

		&:hover {
			background-color: $danger-hover;
		}
	}
}

h1 {
	font-size: 20px;
	margin-bottom: 10px;
}