.products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    .page-title-info {
        display: flex;
        gap: 10px;
        flex-direction: row;
        margin-bottom: 20px;
        margin-top: 20px;
        margin-left: 1%;
        width: 100%;
    
        p {
            font-size: 14px;
        }
    }

    .product-item {
        display: flex;
        flex: 0 0 23%;
        margin: 1%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
        text-align: center;
        flex-direction: column;
        justify-content: space-between;
        height: 428px;

        img {
            max-width: 100%;
            height: auto;
            max-height: inherit;
        }

        @media (max-width: 768px) {
            flex: 1 0 46%;
        }

        @media (max-width: 480px) {
            flex: 1 0 96%;
        }

        button {
            width: 100%;
            text-align: center;
            margin-top: 10px;
        }

        &:hover {
            background-color: #f5f5f5;
        }
    }
}