.suggestion-input-wrapper {
    background: white;
    border-left: 1px solid #f3f3f3;
    border-right: 1px solid #f3f3f3;
    padding-bottom: 2rem;

    .suggestions {
        position: absolute;
        background: #ffffff;
        width: 100%;
        z-index: 1000;
        top: 135px;
        left: 0px;
    }

    @media only screen and (max-width: 768px) {
        .suggestions {
            top: 135px;
        }
    }
}