.list-item-check {
    display: flex;
    width: 4%;
    justify-content: flex-end;
}


.list-item-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media (max-width: 550px) {
    .list-item-wrapper {
        flex-direction: column;
        border-bottom: 1px solid #ccc;


        .list-item-description {
            width: auto;
            flex-direction: column;
            margin-bottom: 10px;

            img {
                width: 9rem;
                height: 9rem;
            }
        }

        .quantity-wrapper {
            width: auto;
            margin-bottom: 10px;
        }

        .list-item-price {
            width: 100%;
            margin-bottom: 10px;
            justify-content: center;
        }
    }
}