.card .card-image {
    display: flex;
    justify-content: center;
}

.card-image img {
    height: 300px;
    max-width: 100%;
    width: auto !important;
}

.card-content {
    .card-body {
        margin-bottom: 20px;
    }
}

.edit-delete-post-wrapper{
    float: right;
    display: flex;
}

.image-modal {
    background-color: transparent !important;
    width: 97% !important;
    max-height: 85% !important;
    height: 85% !important;
    overflow-y: hidden !important;

    .image-close{
        width: 100%;
        text-align: right;
    }

    .fullscreen-image-wrapper {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .fullscreen-image {
            max-width: 100%;
            max-height: 100%;
            object-fit: contain;
        }
    }
}