.quantity-wrapper {
    width: 108px;
    margin: 0 auto;
    text-align: center;
    display: flex;

    .decrease {
        border-radius: 8px 0 0 8px;
    }

    .increase {
        border-radius: 0 8px 8px 0;
    }

    input.number {
        text-align: center;
        border: none;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        margin: 0px;
        width: 20px;
        height: 20px;
    }

    .value-button {
        display: flex;
        border: 1px solid #ddd;
        margin: 0px;
        width: 22px;
        height: 20px;
        justify-content: center;
        align-items: center;
        background: #eee;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        &:hover {
            cursor: pointer;
        }
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}