.gallery {
    display: flex;
    flex-wrap: wrap;
}

.item {
    flex: 0 0 calc(33.33% - 3.3px);
    max-width: calc(33.33% - 3.3px);
    box-sizing: border-box;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    border: 1px solid rgb(227, 227, 227);
    text-align: center;
}

.item:nth-child(3n+1) {
    margin-right: 5px;
}

.item:nth-child(3n) {
    margin-left: 5px;
}

.item:hover {
    border: 1px solid gray;
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-name-options-wrapper{
    display: flex;
    justify-content: space-between;

    .profile-options-wrapper{
        display: flex;  
    }
}