@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

#toast-container {
    top: 60px !important;
    right: 20px !important;
    left: auto !important;
}

.material-icons:hover {
    cursor: pointer;
}

.main-body-margin-top {
    margin-top: 80px;
}

@media only screen and (min-width: 500px) {
    .card {
        border-radius: 8px;
    }
}

.home-card:hover {
    transform: scale(1.01);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.my-primary-btn {
    text-align: center;
    letter-spacing: .5px;
    cursor: pointer;
    font-size: 14px;
    border: none;
    border-radius: 2px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    padding: 0 16px;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
    color: #fff;
    transition: background-color 0.3s ease;
    background: var(--my-primary-button-background-color);

    &:hover {
        background: linear-gradient(to right, darken(#53b4f6, 15%), darken(#4386f9, 15%)); // Darken both colors by 15%
    }
}

.my-secondary-btn {
    @extend .my-primary-btn;
    background: var(--my-secondary-button-background-color);

    &:hover {
        background: linear-gradient(to right, darken(#ee7380, 15%), darken(#ec5e6e, 15%)); // Darken both colors by 15%
    }
}

.material-icons:hover {
    color: #82c8f6;
}

.modal {
    min-height: 170px;
}


//THEMES:

:root {
    --my-primary-button-background-color: linear-gradient(to right, #53b4f6, #4386f9);
    --my-secondary-button-background-color: linear-gradient(to right, #ee7380, #ec5e6e);

    //light:
    --background-color-light: white;
    --text-color-light: #333;

    //dark:
    // --background-color-dark: #222;
    --background-color-dark: #202023; // #2c2b33;//#3D3745;
    --text-color-dark: white;
    --element-background-color-dark: #050505;
    // --element-background-color-dark: rgb(45, 55, 72);
}

.light {
    font-weight: normal;
    background-color: var(--background-color-light);
    color: var(--text-color-light);

    a,
    button {
        color: var(--text-color-light) !important;
    }
}

.dark {
    background-color: var(--background-color-dark);
    color: var(--text-color-dark);

    a,
    button {
        color: var(--text-color-dark) !important;
    }

    .card {
        background-color: var(--element-background-color-dark);
    }

    input {
        color: var(--text-color-dark);
    }

    .modal,
    .modal-footer {
        background-color: var(--element-background-color-dark);
    }

    nav ul a:hover {
        background-color: var(--element-background-color-dark);
    }

    .collection-item {
        background-color: var(--background-color-dark);

        &:hover {
            background-color: #ddd;
        }
    }
}